@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-top a:hover {
	color: #FFB03B;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

body {
  background:url(image_path('bg.jpg')) no-repeat center center fixed;
  background-size:cover;
  min-width: 500px;
  margin-bottom:20px;
}

.header {
  text-align: center;
  color: white;
  font-family: 'Indie Flower', sans-serif;
}

h1 span {
  color: #FFB03B;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.5em;
}

.subject {
	color: #FFB03B;
  font-weight: bold;
  font-size: 1.1em;
}

.header div {
  background-color: rgba(255, 176, 59, 0.5);
  display: inline-block;
}

h2 {
  margin: 20px;
}

.header p {
  font-size: 1.3em;
  padding-top: 10px;
  text-align: left;
}

.search {
  width: 500px;
  height: 40px;
  margin: 30px auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius:  3px;
  border: 1px solid #fff;
}

.search input {
  width: 370px;
  padding: 11px 5px;
  float: left;
  color: #1E1E20;
  border: 0;
  border-radius: 3px 0 0 3px;
  font-size: 1em;
}

.search input:focus {
  outline: 0;
}

.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-radius: 0 3px 3px 0;
}

.search button:hover {
  background: #fff;
  color:#444;
}
.search button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search button:focus {
  outline: 0;
}

.container p {
  width: 500px;
  margin: auto;
}

footer{
  position:fixed;
  height:20px;
  background-color: rgba(255, 176, 59, 0.8);
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  text-align: center;
  color: white
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.1em;
}
